# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Docker data
esdata/
docker_data/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env